<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated game -->
      <package
            uri="http://www.ntnu.no/TDT4250/Besieged/game"
            class="no.ntnu.tdt4250.besieged.game.GamePackage"
            genModel="model/game.genmodel"/>
   </extension>

</plugin>
